/*
Custom Css
*/

/* .text-success {
    color: #26ddce !important;
}

.btn-success {
    background-color: #26ddce !important;
    border: 1px solid rgb(0, 156, 156)
} */

.custom-font {
  font-family: "Caveat", cursive;
  font-weight: 700;
}

/* .row.shop-body {
    background-color: red !important;
  display: flex !important;
  flex-direction: row !important;
}

.shop-body section {
  flex-grow: 1 !important;
  display: none !important;
}

.shop-body section.active {
  display: block !important;
} */

/*  */
