/*
Custom Css
*/

/* .text-success {
    color: #26ddce !important;
}

.btn-success {
    background-color: #26ddce !important;
    border: 1px solid rgb(0, 156, 156)
} */

.custom-font {
    font-family: "Caveat", cursive;
    font-weight: 700;
}

